@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav{
  background: #004981 ;
  height: 80px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo{
  color: #f2f2f2;
  font-size: 33px;
  line-height: 80px;
  margin-right: 200px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

label.logo{
  color: #f2f2f2;
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: #f2f2f2;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: -10px;
  font-family: 'Poppins', sans-serif;
}

a.link:hover{
  background: #0069bb;
  transition: .5s;
}

.button{
  font-weight: 500;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: #1b9bff;
  border: none;
  color: white;
  text-align: center;
  margin-left: 50px;
}
.button:hover{
  background-color: #0082e6;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 1200px){
  .logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 14px;
  }
}

@media (max-width: 1050px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/*footer*/
footer{
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.vl {
  border-left: 2px solid gray;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.right-col h1{
  font-size: 26px;
  margin-left: -210px;
}

.border{
  width: 180px;
  height: 4px;
  background: #0082e6;
  align-items: center;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 20px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #0082e6;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  background-color: #004981;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}

/*social links*/

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  margin-left: -180px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}


/*slideshow*/
.Slides {display: none}
.Slides img {vertical-align: middle;}


.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}}



/*body*/
.dep-section,.abt-section,.faq-section,.announ-section,.con-section
{
  height: 720px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.section{
  width: 80%;
  height: 80%;
}

.sections{
    color: #0082e6;
    margin: 20px auto;
    font-size: 33px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

h1{
font-family: sans-serif;
margin: 20px auto;
text-align: center;
font-size: 40px;
max-width: 600px;
position:relative;

}
h1:before{
  content: "";
  display:block;
  width: 150px;
  height:3px;
  background: #004981;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}
h1:after{
  content: "";
  display:block;
  width: 150px;
  height:3px;
  background: #004981;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

/*contact*/
.contact-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
}


.card{
  background: white;
  padding: 0 20px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #0082e6;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #004981;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: black;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

/*faq*/

.content {
  width: 80%;
  padding: 20px;
  margin-top: 20px;
  padding: 0 60px 0 0;

}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
  font-size: 20px;
  color: black;
  position: relative;
  background: #f1f1f1;
  margin: 0;
  padding: 40px 20px 10px 50px;
  display: block;
  width:100%;
  height: 60px;
  cursor: pointer;
}

.answers{
  color:#004981;
  font-size: 18px;
  font-weight:300;
  background: #f2f2f2;
  padding: 0px 15px;
  margin: 0px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: 85px;
  margin-top: 10px;
  opacity: 1;
  padding: 15px;
  z-index: 1;
}

.plus {
  color:#004981;
  position: absolute;
  margin-left: 10px;
  margin-top: 35px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.abt-container{
  height: 450px;
  width: 850px;
  background-color:#f1f1f1;
  margin: auto;
  overflow: auto;
}
.faq-container{
  position: relative;
  width:850px;
  height:450px;
  background-color:#f1f1f1;
  margin: auto;
  overflow: auto;
}
.dep-container{
  position: relative;
  width:850px;
  height:450px;
  background-color:#f1f1f1;
  margin: auto;
  overflow: auto;
  color: #0069bb;
}

.ann-container{
  position: relative;
  width:850px;
  height:500px;
  background-color:#f1f1f1;
  margin: auto;
  overflow: auto;
}
a.link2{
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  display:table;
  padding: auto;
  line-height: 30px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.link2:hover{
	color:#004981;
  font-size:25px;
}



/*wave*/

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.waves {
  position:relative;
  width: 100%;
  height:18vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}
